.centerrow {
	margin: 0;
	display: flex;
	justify-content: center !important;
}

.card-img-top {
	object-fit: cover;
	width: 129px;
	height: 230px;
	border: none !important;
	border-radius: 10px !important;
}
.card {
	border: none !important;
}

.NewpostInCenter {
	padding-top: 25px;
	margin: 0;
	width: 710px !important;
}

.PostInCenter {
	padding-top: 25px;
	margin: 0;
	width: 700px !important;
}
@media (min-width: 768px) {
	.container {
		width: 600px !important;
	}
}

@media (max-width: 768px) {
	.container {
		width: 600px !important;
	}
}
