.newpost {
	display: flex;
	justify-content: center;
	background: #242526;
	margin: 0;
	padding-top: 15px;
	border-radius: 10px;
	color: white;
	text-align: center;
}

.postbtn {
	display: flex !important;
	justify-content: center !important;
	width: 170px !important;
	margin-bottom: 10px !important;
	padding-top: 5px;
	display: flex;
	justify-content: start;
	color: white;
	font-size: smaller;
}

.liveVideo {
	margin: 5px !important;
}

hr {
	background: #5c5c5c;
}

.firstRow {
	margin-bottom: -15px !important;
}
