body {
	margin: 0;
	padding: 0;
	background: #1c1c1d !important;
}

a:link {
	color: white !important;
	text-decoration: none;
}

a:visited {
	color: white !important;
	text-decoration: none;
}

a:hover {
	color: white !important;
	text-decoration: none !important;
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	body {
		width: fit-content;
	}
	.container {
		max-width: 540px;
	}
	.leftMenu {
		width: fit-content !important;
	}
	.Row {
		width: fit-content;
	}
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
