body {
	margin: 0;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (max-width: 720px) {
	body {
		margin: 0;
		width: max-content;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

code {
	font-family: 'Source Code Pro', monospace;
}

/* * {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
} */
